[submodule "external/printf"]
	path = external/printf
	url = https://github.com/eyalroz/printf
[submodule "external/minhook"]
	path = external/minhook
	url = https://github.com/TsudaKageyu/minhook
[submodule "external/etl"]
	path = external/etl
	url = https://github.com/ETLCPP/etl
